<div hx-ext="ws" ws-connect="/ws/points">
  <form id="form" ws-send>
    <input name="point" required readonly id="numsubmit" hidden/>
    <input name="name" value="{{ name }}" required readonly hidden/>
    <input name="id" value="{{ id }}" required readonly hidden/>
    <button type="submit" onclick="document.getElementById('numsubmit').value = '.5'"> .5 </button>
    <button type="submit" onclick="document.getElementById('numsubmit').value = '1'"> 1 </button>
    <button type="submit" onclick="document.getElementById('numsubmit').value = '2'"> 2 </button>
    <button type="submit" onclick="document.getElementById('numsubmit').value = '3'"> 3 </button>
    <button type="submit" onclick="document.getElementById('numsubmit').value = '5'"> 5 </button>
    <button type="submit" onclick="document.getElementById('numsubmit').value = '8'"> 8 </button>
    <br />
  </form>
  <ul id="point">
    {% for point in points %}
      <li>
        <span>{{ point.name }}</span>
        <span>{{ point.point }}</span>
      </li>
    {% endfor %}
  </ul>
</div>